<div class="order-list">
	<div class="block"></div>
	<div class="icecream-flavor-order">Flavors: {{orders.icecream_flavors}}</div>
	<div class="icecream-flavor-order">Cake: {{orders.cake_flavor}}</div>
	<div class="icecream-flavor-order">Quantity: {{orders.quantity}}</div>
	<div class="icecream-flavor-order">Size: {{orders.size}}</div>
	<div class="icecream-flavor-order">Pickup Date: {{orders.pickup_date}}</div>
	<div class="icecream-flavor-order">Pickup Time: {{orders.pickup_time}}</div>
	<div class="icecream-flavor-order">Payment Status: {{orders.paid_status}}</div>
	<div class="icecream-flavor-order">Order Processed: {{orders.order_processed}}</div>
	<div class="icecream-flavor-order">Messge: {{orders.message}}</div>
	<div class="icecream-flavor-order">design: {{orders.design}}</div>
	<div class="icecream-flavor-order">Message Color: {{orders.message_color}}</div>
	<div class="icecream-flavor-order">Other Message: {{orders.other_message}}</div>
</div>