<ion-view view-title="OrderContactForm" ng-init="init()">
  <ion-content class="padding">
	<div class="order-contact-information">
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <div class="input-label first-name">First Name</div>
		    <input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input item-floating-label">
		    <div class="input-label last-name">Last Name</div>
		    <input type="text" placeholder="Last Name">
		  </label>
		  <label class="item item-input item-floating-label">
		    <div class="input-label phone-number" ng-model="phone">Phone</div>
		    <input type="tel" placeholder="Phone">
		  </label>
		  <div class="button-container">
		  	<button class="button button-positive">Next</button>
		  </div>
		</div>
	</div>
  </ion-content>
</ion-view>
