<ion-view>
  <ion-content>
  <div class="order-form-container">
        <div>icecream flavors
            <fancy-select
            header-text="Flavors"
            allow-empty="false"
            text="formFieldData.flavorText"
            items="formFieldData.flavors"
            multi-select="true"
            >
            </fancy-select>
        </div>
        <div>cake flavors
            <fancy-select
            header-text="Cake"
            allow-empty="false"
            text="formFieldData.cakeText"
            items="formFieldData.cakeFlavors"
            multi-select="false"
            >
            </fancy-select>
        </div>
        <div>cake size
            <fancy-select
            header-text="Cake Size"
            allow-empty="false"
            text="formFieldData.cakeSizeText"
            items="formFieldData.cakeSizes"
            multi-select="false"
            >
            </fancy-select>
        </div>
        <div ng-model="order.cake_order">cakeorder</div>
        <label class="item item-input">
          <span class="input-label">Qty</span>
          <input type="number" ng-model="order.quantity"> 
        </label>
        <label class="item item-input">
          <span class="input-label">Pickup_date</span>
          <input type="date" ng-model="order.pickup_date">
        </label>
        <ionic-timepicker input-obj="timePickerObject">
          <button class="button button-block button-positive overflowShow">
            <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
          </button>
        </ionic-timepicker>
        <label class="item item-input">
          <div class="input-label">Cake-Writing Message</div>
          <input type="text" ng-model="order.cake_message">
        </label>
        <label class="item item-input">
          <span class="input-label">Other Message</span>
          <input type="text" ng-model="order.other_message">
        </label>
        <button class="button submit" ng-click="createOrder(order)">Place Order!</button>
    </div>
  </ion-content>
</ion-view>

