<ion-view view-title="Dashboard">
  <ion-content class="page-content">
	<ion-refresher
	pulling-text="Pull to refresh..."
	on-refresh="doRefresh()">
	</ion-refresher>
	<ion-list>
		<div class="order-list-wrapper" ng-repeat="orders in upcomingOrders | orderBy:'+id'">	
			<ion-item class="order-list" on-swipe-right="completeOrder(orders.id)" ng-click="showOrder(orders.id)" ng-if="orders.completed == false && orders.pickup_date < date">
				<div class="wrapper">
					<div class="order-info card">
						<div>Name: {{orders.first_name}} {{orders.last_name}}</div>
						<div>Date: {{orders.pickup_date | date:'yyyy-MM-dd'}}
						</div>
						<div>Time: {{orders.pickup_time}}
						</div>
					</div>
					<div class="icon-wrapper">
						<div class="status-not-started"></div>
					</div>
				</div>	
			</ion-item>
		</div>
	</ion-list>
  </ion-content>
</ion-view>
