<ion-view view-title="Dashboard">
  <ion-content class="padding">
	<div class="order-list-wrapper" ng-repeat="orders in upcomingOrders">
		<div class="order-list">
			<div class="block"></div>
			<div class="icecream-flavor-order">Name: {{orders.first_name}} {{orders.last_name}}</div>
			<div class="icecream-flavor-order">Quantity: {{orders.quantity}}</div>
			<div class="icecream-flavor-order">Size: {{orders.size}}</div>
			<div class="icecream-flavor-order">Pickup Date: {{orders.pickup_date}}</div>
		</div>
	</div>
  </ion-content>
</ion-view>
