<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-header-bar class="header">
    <div class="header-wrapper">
      <div class="back-button" ng-click="goBack()">
         <i class="ion-arrow-left-c"></i>
      </div>
      <div class="logo-text">Cake-Order Sheet</div>
      <div class="add-order" ng-click="addOrder()">
        <i class="ion-plus-round"></i>
      </div>
    </div>
</ion-header-bar>
<ion-tabs class="navigation-bar tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Dashboard" icon="ion-ios-home" href="#/nav/dashboard">
    <ion-nav-view name="nav-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Orders" icon="ion-icecream" href="#/nav/orders">
    <ion-nav-view name="nav-orders"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon="ion-android-calendar" href="#/nav/calendar">
    <ion-nav-view name="nav-calendar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Completed" icon="ion-android-checkbox-outline" href="#/nav/completed"> 
    <ion-nav-view name="nav-completed"></ion-nav-view>
  </ion-tab>

</ion-tabs>
