<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="navigation-bar tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="nav-dash" icon-on="nav-dash" href="#/nav/dashboard">
    <ion-nav-view name="nav-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Orders" icon-off="nav-orders" icon-on="nav-orders" href="/nav/orders">
    <ion-nav-view name="nav-orders"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Calendar" icon-off="nav-calendar" icon-on="nav-calendar" href="#/nav/calendar">
    <ion-nav-view name="nav-calendar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Completed" icon-off="nav-completed" icon-on="nav-completed" href="#/nav/completed"> 
    <ion-nav-view name="nav-completed"></ion-nav-view>
  </ion-tab>

</ion-tabs>
