<ion-view class="modal" view-title="Flavors">
  <ion-header-bar class="bar-positive">
    
    <button ng-click="closeModal()" class="button button-positive button-icon ion-android-exit"></button>

    <h1 class="title">{{headerTest}}</h1>

    <button ng-click="validate()" class="button button-positive button-icon ion-checkmark"></button>

  </ion-header-bar>

  <ion-content class="padding">
    <label name="icecream-flavors" ng-if="headerText=='Icecream Flavors'">
    	<ion-list class="item item-text-wrap"  ng-repeat="flavor in items">
      {{flavor.text}}
    	</ion-list>
    </label>
    <label name="cake-flavors" ng-if="headerText=='Cake Flavors'">
      <ion-list class="item item-text-wrap" ng-repeat="cakeFlavor in items">
      {{cakeFlavor.text}}
      </ion-list>
    </label>
    <label name="cake-sizes" ng-if="headerText=='Cake Sizes'">
      <ion-list class="item item-text-wrap" ng-repeat="cakeSize in items">
      {{cakeSize.text}}
      </ion-list>
    </label>
    <label name="cake-flavors" ng-if="headerText=='Message Colors'">
      <ion-list class="item item-text-wrap" ng-repeat="messageColor in items">
      {{messageColor.text}}
      </ion-list>
    </label>
    <label name="icecream-flavors" ng-if="headerText=='Preset Messages'">
      <ion-list class="item item-text-wrap" ng-repeat="presetMessage in items">
      {{presetMessage.text}}
      </ion-list>
    </label>
  </ion-content>
</ion-view>
