<ion-view class="modal" view-title="Flavors">
  <ion-header-bar class="bar-positive">
    
    <button ng-click="closeModal()" class="button button-positive button-icon ion-android-exit"></button>

    <h1 class="title">{{headerTest}}</h1>

    <button ng-click="select()" class="button button-positive button-icon ion-checkmark"></button>

  </ion-header-bar>

  <ion-content class="padding">
  	<ion-list class="item item-text-wrap" ng-if="items==formFieldData.flavors">
      <ion-checkbox ng-repeat="icecream_flavor in items" ng-model="icecream_flavor.checked">
        {{icecream_flavor.text}}
      </ion-checkbox>
  	</ion-list>
    <ion-list class="item item-text-wrap" ng-if="items==formFieldData.cakeFlavors">
      <ion-item ng-repeat="cake_flavor in items" ng-click="attachToModel(cake_flavor)">
        {{cake_flavor.text}}
      </ion-item>
    </ion-list>
    <ion-list class="item item-text-wrap" ng-if="items==formFieldData.cakeSizes">
      <ion-item ng-click="attachToModel(cake_size)" ng-repeat="cake_size in items">
        {{cake_size.text}}
      </ion-item>
    </ion-list>
    <ion-list class="item item-text-wrap" ng-if="items==formFieldData.messageColors">
      <ion-item ng-click="attachToModel(message_color)" ng-repeat="message_color in items">
        {{message_color.text}}
      </ion-item>
    </ion-list>
    <ion-list class="item item-text-wrap" ng-if="items==formFieldData.presetMessages">
      <ion-item ng-click="attachToModel(message)" ng-repeat="message in items">
        {{message.text}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
