<ion-view class="modal" view-title="Flavors">
  <ion-header-bar class="bar-positive">
    
    <button ng-click="closeModal()" class="button button-positive button-icon ion-android-exit"></button>

    <h1 class="title">{{headerTest}}</h1>

    <button ng-click="select()" class="button button-positive button-icon ion-checkmark"></button>

  </ion-header-bar>

  <ion-content class="padding">
  	<ion-list class="item item-text-wrap" ng-if="headerText=='Icecream Flavors'">
      <ion-checkbox ng-repeat="icecreamFlavor in items" ng-model="icecreamFlavor.checked">
        {{icecreamFlavor.text}}
      </ion-checkbox>
  	</ion-list>
    <ion-list class="item item-text-wrap" ng-if="headerText=='Cake Flavors'">
      <ion-item ng-repeat="cakeFlavor in items" ng-click="setCakeFlavor(cakeFlavor)">
        {{cakeFlavor.text}}
      </ion-item>
    </ion-list>
    <ion-list class="item item-text-wrap" ng-if="headerText=='Cake Sizes'">
      <ion-item ng-click="setCakeSize(cakeSize)" ng-repeat="cakeSize in items">
        {{cakeSize.text}}
      </ion-item>
    </ion-list>
    <ion-list class="item item-text-wrap" ng-if="headerText=='Message Colors'">
      <ion-item ng-click="setMessageColor(messageColor)" ng-repeat="messageColor in items">
        {{messageColor.text}}
      </ion-item>
    </ion-list>
    <ion-list  ng-if="headerText=='Preset Messages'" class="item item-text-wrap">
      <ion-item ng-click="setPresetMessage(presetMessage)" ng-repeat="presetMessage in items">
        {{presetMessage.text}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
