<ion-view class="modal" view-title="Flavors">
  <ion-header-bar class="bar-positive">

    <button ng-click="hideItems()" class="button button-positive button-icon ion-ios7-arrow-back"></button>

    <h1 class="title">{{headerText}}</h1>

    <button ng-click="validate()" class="button button-positive button-icon ion-checkmark"></button>

  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <ion-toggle ng-repeat="item in items" ng-if="multiSelect" ng-checked="item.checked" ng-model="item.checked" class="item item-text-wrap" ng-click="setIcecreamFlavor(item)">
        {{item.text}}
      </ion-toggle>
      <label ng-repeat="item in items" ng-if="!multiSelect" class="item item-text-wrap" ng-click="setCakeSize(item)">
       {{item.text}}
      </label>
      <label ng-repeat="item in items" ng-if="!multiSelect" class="item item-text-wrap" ng-click="setCakeFlavor(item)">
        {{item.text}}
      </label>
    </div>
  </ion-content>
</ion-view>
