<ion-view view-title="Order">
	<ion-content>
	<ion-list>
		<div class="single-order-wrapper">
			<ion-item class="order-item" ng-click="return()">
				<div class="wrapper">
					<div class="order-info card">
						<div>Flavors: {{orderData.icecream_flavors}}</div>
						<div>Cake: {{orderData.cake_flavor}}</div>
						<div>Quantity: {{orderData.quantity}}</div>
						<div>Size: {{orderData.size}}</div>
						<div>Pickup Date: {{orderData.pickup_date | date:'yyyy-MM-dd'}}</div>
						<div>Pickup Time: {{orderData.pickup_time}}</div>
						<div>Payment Status: {{paid_status_text}}</div>
						<div>Order Processed: {{orderData.order_processed}}</div>
						<div>Messge: {{orderData.message}}</div>
						<div>design: {{orderData.design}}</div>
						<div>Message Color: {{orderData.message_color}}</div>
						<div>Other Message: {{orderData.other_message}}</div>
					</div>
				</div>
			</ion-item>
		</div>
		<div ng-if="orderData.completed == false">
			<div ng-click="editOrder()">Edit me!</div>
		</div>
	</ion-list>
	</ion-content>
</ion-view>
